# Backend Configuration
ELASTICSEARCH_URL=http://host.docker.internal:9200
JWT_SECRET=your-super-secret-jwt-key-change-in-production
ADMIN_USERNAME=admin
ADMIN_PASSWORD=?????????????????

# CORS Origins (comma-separated)
CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://193.246.121.231:3000,http://193.246.121.232:3000,http://193.246.121.233:3000

# Frontend Configuration
VITE_API_URL=http://193.246.121.231:8000
